apiVersion: v1
kind: Secret
metadata:
  name: issuematch-secrets
stringData:
  postgres_password: changeme
  github_client_id: changeme
  github_client_secret: changeme
  session_secret: changeme
  base_url: http://localhost:9473
