apiVersion: v1
kind: Secret
metadata:
  name: issuematch-secrets
stringData:
  github_client_id: changeme
  github_client_secret: changeme
  session_secret: changeme
  base_url: https://issuematch.apps.example.com
